@use 'functions' as *;

#app {
  min-height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: spacing(0) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-picker {
  position: absolute;
  top: spacing(3);
  right: spacing(3);
  height: 50px;
  width: 50px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.cron-input-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin: spacing(2);
  max-width: 600px;
  width: 100%;

  button {
    margin: spacing(2) spacing(0);
    padding: spacing(2) spacing(3);
  }
}

.cron-input {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: spacing(2);

  input {
    width: 100%;
    font-size: 3rem;
    border-radius: spacing(4);
    padding: spacing(4) spacing(5);
  }

  button {
    position: absolute;
    top: 50%;
    right: spacing(3);
    margin: spacing(0);
    padding: spacing(2);
    transform: translateY(-50%);

    svg {
      height: spacing(4);
      width: spacing(4);
    }
  }
}

.cron-settings {
  width: 100%;
  display: flex;
  gap: spacing(2);

  label {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    span {
      margin-left: spacing(3);
    }
  }
}

.description {
  margin: spacing(3) spacing(2);
  margin-bottom: spacing(4);
  font-size: 2rem;
  text-align: center;
}

.date-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: spacing(2);
}

.schedules {
  width: 100%;
  overflow-x: auto;
}

.schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  padding: spacing(2) spacing(3);

  select,
  .timezone {
    width: 120px;
    flex-shrink: 0;
    padding: spacing(0);
    margin: spacing(2);
  }

  .timezone {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.slot {
  position: relative;
  flex-shrink: 0;
  padding: spacing(2);
  text-align: center;
  width: 30px;

  &.start-of-day {
    color: #74abe4;
  }

  &.current {
    color: #4cc053;
  }

  .divider {
    position: absolute;
    width: 1px;
    height: spacing(4);
    margin-top: -40px;
    left: spacing(0);
    opacity: 0.5;
  }
}

.dot {
  position: absolute;
  bottom: -spacing(2);
  height: spacing(2);
  width: 1px;
  padding: spacing(0);
  margin: spacing(0);
  background-color: red;
  opacity: 0.6;
}

.github-link {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: spacing(2);

  svg {
    width: 40px;
    height: 40px;
  }
}
